p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

body {
  text-align: center;
  background-color: black;
  color: white;
  list-style-position: inside;
  list-style-type: square;
}

.picture-border {
  border-color: white;
  border-width: 10;
  border-style: solid;
  border-radius: 10px;
}

.image-size {
width: 450px;  
}

/*
h2 {
  background-color: rgb(46, 46, 46);
}
*/

.quote-border {
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
  border-width: 15px;
}